@page "/fetchtoss"
@inject HttpClient Http
@*@inject IAccessTokenProvider TokenProvider*@
@inject IConfiguration Configuration
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@*@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@

<PageTitle>Coin flips</PageTitle>

<h1>Coin flips</h1>

<div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"># of groups</span>
      </div>
    <input type="number" class="form-control" placeholder="# of groups" @bind="@groups" />
</div>

<div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"># of flips per group</span>
      </div>
    <input type="number" class="form-control" placeholder="# of flips per group" @bind="@flips" />
</div>
<div class="input-group mb-3">

    <button @onclick="GetRequest" class="btn btn-primary">Get Data</button>
</div>

@if (coinFlips == null)
{
    if(DataIsRequested)
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                @for (var col = 1; col <= flips; col++)
                {
                    <th>@col</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var group in coinFlips.Data)
            {
                <tr>
                    <td>@GetCount()</td>
                    @foreach(var item in group)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int count=0;
    private bool DataIsRequested; 
    private int groups = 8;
    private int flips = 16;
    private string? responseBody;
    private RootObject? coinFlips;

    private class RootObject
    {
        public int NumberOfGroups { get; set; }
        public int FlipsPerGroup { get; set; }
        public List<List<string>> Data { get; set; }
    }

    private int GetCount()
    {
        if (count >= groups)
            count = 0;
        return ++count;
    }
    private int RessetCount() => count=0;

    private async Task GetRequest()
    {
        count = 0;
        DataIsRequested = true;
        try	
        {
            //var baseURL = "http://localhost:7071/api/coins";
            var baseURL = Configuration.GetSection("CoinsFunctionAddress").Value;

            string url = baseURL + "groups=" + groups.ToString() + "&flips="+flips.ToString();

            HttpResponseMessage response = await Http.GetAsync(url);
            response.EnsureSuccessStatusCode();
            responseBody = await response.Content.ReadAsStringAsync();
            coinFlips = await response.Content.ReadFromJsonAsync<RootObject>();

            if(coinFlips != null)
            {
                groups = coinFlips.NumberOfGroups;
                flips = coinFlips.FlipsPerGroup;
            }
            DataIsRequested = false;
        }
        catch(HttpRequestException e)
        {
            Console.WriteLine("\nException Caught!");	
            Console.WriteLine("Message :{0} ",e.Message);
        }
    }
}