@page "/secret-code"
@inject HttpClient Http
@*@inject IAccessTokenProvider TokenProvider*@
@inject IConfiguration Configuration
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@*@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@

<PageTitle>Crack the secret code</PageTitle>

<h1>Crack the secret code</h1>

<p>A secret code has been created with four spots that can be filled by one of eight different colors. If you make a guess, I will return a red dot if one of the colors in your guess is present in the secret code. If the position of that color is also correct, I will return a yellow dot. Note that the order of my response will not match the positions in the secret code.</p>

<div class="input-group mb-3"> 
    <div class="input-group-prepend">
        <span class="input-group-text">#</span>
    </div>
    <input type="number" class="form-control" placeholder="#" @bind="@possitionOne" />
    <input type="number" class="form-control" placeholder="#" @bind="@possitionTwo" />
    <input type="number" class="form-control" placeholder="#" @bind="@possitionThree" />
    <input type="number" class="form-control" placeholder="#" @bind="@possitionFour" />

    <button @onclick="Guess" class="btn btn-primary">Guess</button> <button @onclick="Resset" class="btn btn-secondary">New</button>
</div>

<div>
    <p>
        <label>Result: @result</label>
    </p>
    <p>
        <label># of tries: @count</label>
    </p>

    @if (count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    @for (var col = 1; col <= count; col++)
                    {
                        <th>@col</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    @for (var col = 0; col < count; col++)
                    {
                        <td>@guesses[col]</td>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>




@code {
    private int count = 0;
    private int target;
    private int guess;
    private int possitionOne;
    private int possitionTwo;
    private int possitionThree;
    private int possitionFour;

    private int[] guesses = new int[100];
    private int[] targets = new int[4];
    string? result;

    protected override async Task OnInitializedAsync()
    {
        SetAsync();
    }

    private int GetCount() => ++count;

    private async Task Guess()
    {
        await Task.Run(() =>
        {
            guesses[count] = guess;

            if (guess == target)
                result = "win";
            if (guess > target)
                result = "go down";
            if (guess < target)
                result = "go up";
            count++;        
        });
    }

    private async Task SetAsync()
    {
        await Task.Run(() =>
        {
            List<int> colors = new List<int>();
            for (int i = 1; i < 9; i++)
            {
                colors.Add(i);
            }

            Random r = new Random();
            target = r.Next(1, colors.Count);

            for (int n = 0; n < 4; n++)
            {
                targets[n] = colors[r.Next(0, colors.Count)];
                colors.Remove(targets[n]);
            }
        });
    }

    private async Task Resset()
    {
        await Task.Run(() =>
        {
            SetAsync();
            for (int i = 0; i < count; i++)
            {
                guesses[i] = 0;
            }
            count = 0;        
        });
    }
}