@page "/secret-code"
@inject HttpClient Http
@*@inject IAccessTokenProvider TokenProvider*@
@inject IConfiguration Configuration
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@using System.ComponentModel.DataAnnotations;
@*@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@

<PageTitle>Crack the secret code</PageTitle>

<h1>Crack the secret code</h1>

<p>A secret code has been created with four spots that can be filled by one of eight different numbers: 1 to 8. If you make a guess, I will return a 1 a number is present in the code and 2 if it is at the right possisiton. The result is ordered acsending.</p>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">#</span>
    </div>
    <input type="number" class="form-control" placeholder="#" @bind="@positions[0]" />
    <input type="number" class="form-control" placeholder="#" @bind="@positions[1]" />
    <input type="number" class="form-control" placeholder="#" @bind="@positions[2]" />
    <input type="number" class="form-control" placeholder="#" @bind="@positions[3]" />

    <button @onclick="Guess" class="btn btn-primary" disabled="@(@result == String.Empty ? false : true)">Guess</button>
    <button @onclick="Resset" class="btn btn-secondary">New Try!</button>
</div>

<div>
     <p>
        <label>Result: @result</label>
    </p>
    <p>
        <label># of tries: @count</label>
    </p>

    @if (count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>POS1</th>
                    <th>POS2</th>
                    <th>POS3</th>
                    <th>POS4</th>
                    <th></th>
                    <th>RES1</th>
                    <th>RES2</th>
                    <th>RES3</th>
                    <th>RES4</th>
                </tr>
            </thead>
            <tbody>
                @for (var row = 0; row < count; row++)
                {
                    <tr>
                        <td>@(row + 1)</td>
                        <td>@log[row, 0]</td>
                        <td>@log[row, 1]</td>
                        <td>@log[row, 2]</td>
                        <td>@log[row, 3]</td>
                        <td></td>
                        <td>@results[row, 0]</td>
                        <td>@results[row, 1]</td>
                        <td>@results[row, 2]</td>
                        <td>@results[row, 3]</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private int count = 0;
    //private int guess;
    private string result = String.Empty;
    //[Required]
    //[RegularExpression("([1-8]*)", ErrorMessage = "valid input is between 1 and 8")]   
    private int[]? positions = new int[4];
    private int[,] log = new int[100, 4];
    private int[,]? results = new int[100, 4];
    private int[] guesses = new int[4];
    private int[] targets = new int[4];

    protected override async Task OnInitializedAsync()
    {
        SetAsync();
    }

    private int GetCount() => ++count;

    private async Task Guess()
    {
        await Task.Run(() =>
        {
            for (int i = 0; i < 4; i++)
            {
                log[count, i] = positions[i];
            }

            int[] sortedResults = new int[4];

            for (int i = 0; i < 4; i++)
            {
                sortedResults[i] = Result(positions[i], i).Result;
            }

            Array.Sort(sortedResults);

            for(int i = 0; i<4; i++)
            {
                results[count, i] = sortedResults[i];
            }

            Array.Clear(sortedResults);

            if (results[count, 0] == 2 && results[count, 1] == 2 && results[count, 2] == 2 && results[count, 3] == 2)
                result = "Correct !";

            count++;
        });
    }

    private async Task SetAsync()
    {
        await Task.Run(() =>
        {
            List<int> colors = new List<int>();
            for (int i = 1; i < 9; i++)
            {
                colors.Add(i);
            }

            Random r = new Random();

            for (int n = 0; n < 4; n++)
            {
                targets[n] = colors[r.Next(0, colors.Count)];
                colors.Remove(targets[n]);
            }
        });
    }

    private async Task Resset()
    {
        await Task.Run(() =>
        {
            SetAsync();
            Array.Clear(guesses);

            count = 0;
            result = String.Empty;
        });
    }

    private async Task<int> Result(int guess, int position)
    {
        int result = 0;
        for (int i = 0; i < 4; i++)
        {
            if (targets[i] == guess)
            {
                result = 1;
                if (i == position)
                    result = 2;
            }
        }
        return result;
    }
}